<h3>{{msgCheck}}</h3>
<section>
    <div class="container">
        <div class="row ">
            <div class="col-lg-9 col-10 m-auto">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img [src]="image" class="img-fluid rounded-start" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{singleUser.fname}} {{singleUser.lname}}</h3>
                                <div>
                                    <p class="card-title my-1">User Type:
                                        <small class="text-muted">{{singleUser.userType}}</small>
                                    </p>
                                </div>
                                <div>
                                    <p class="card-text">Email:
                                        <small class="text-muted">{{singleUser.email}}</small>
                                    </p>
                                    <p class="card-text">Phone :
                                        <small class="text-muted">{{singleUser.phone}}</small>
                                    </p>
                                </div>
                                <div class="my-2">
                                    <p class="card-text my-0">
                                        <small class="text-muted">
                                            Created at {{singleUser.createdAt | date:'fullDate'}}
                                        </small>
                                    </p>
                                    <p class="card-text my-0">
                                        <small class="text-muted">
                                            Last updated {{singleUser.updatedAt | date:'fullDate'}}
                                        </small>
                                    </p>
                                </div>

                                <div class="d-flex">
                                    <a routerLink="/edituser/{{singleUser._id}}">
                                        <button class="btn btn-primary">Edit</button>
                                    </a>
                                    <a *ngIf="singleUser.userType=='user'">
                                        <button class="btn btn-danger mx-2" (click)="deleteUser()">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>